1 BITMAP DISCARDABLE "L:\PureBasic\Projekte\BassKing\Ressource\icons.bmp"
2 BITMAP DISCARDABLE "L:\PureBasic\Projekte\BassKing\Ressource\logo.bmp"
3 BITMAP DISCARDABLE "L:\PureBasic\Projekte\BassKing\Ressource\worker.bmp"
